@import-normalize; /* bring in normalize.css styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

code {
  font-family: 'Nunito', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: overlay;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
a {
  color: inherit;
}
